<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
    <title>
        {{ i18n "home" }} | {{ .Site.Params.author.name }}
    </title>

    {{ partial "head.html" . }}

</head>

<body>

    <div class="flexWrapper">
        {{ partial "header.html" . }}

        <div class="content vertical">
            <main class="main">
                <div class="indexWrapper">
                    {{ if .Site.Params.author.avatarFirst }}
                        {{ partial "avatar.html" . }}
                    {{ end }}
                    <div>
                        <h1 class="indexHeader">{{ .Site.Params.author.homeTitle | default .Site.Params.author.name }}</h1>
                    </div>
                    {{ if not .Site.Params.author.avatarFirst }}
                        {{ partial "avatar.html" . }}
                    {{ end }}
                    {{ if isset .Site.Params "social" }}
                        {{ partial "social.html" . }}
                    {{ end }}
                </div>
            </main>
        </div>

        {{ partial "footer.html" . }}
    </div>

</body>

</html>
