{{ define "title"}}
{{ .Title }} | {{ .Site.Params.author.name }}
{{ end }}

{{ define "main" }}

<div>
  <div class="listHeader">
    <h1>{{ .Title }}</h1>
  </div>

  {{ with .Content }}
  <div class="listContent">
    {{- . -}}
  </div>
  {{ end }}

  {{ $pages := .RegularPages }}
  {{ $paginator := .Paginate $pages }}

  <div role="list">
    {{ range $paginator.Pages }}
      <div class="postListItem" role="listitem">
        <a class="postListLink" href="{{ .Permalink }}">
          <span class="postTitle">{{ .Title }}</span>
        </a>
        <div class="postExcerpt">{{ .Description }}</div>
        {{ $layout := .Site.Params.displayDateFormat | default "2006-01-02" }}
        {{ $iso := .Date | time.Format "2006-01-02" }}
        <time class="postDate" datetime="{{ $iso }}">{{ .Date | time.Format $layout }}</time>
      </div>
    {{ end }}
  </div>

{{ partial "pagination.html" (dict "paginator" $paginator) }}

</div>

{{ end }}
