{{ define "title"}}
{{ .Title }} | {{ .Site.Params.author.name }}
{{ end }}

{{ define "main" }}
<div class="postWrapper">
    <h1>{{ .Title }}</h1>

    {{/* Master switch */}}
    {{ $showMetadata := true }}
    {{ if eq .Site.Params.showMetadata false }}{{ $showMetadata = false }}{{ end }}
    {{ if eq .Params.showMetadata false }}{{ $showMetadata = false }}{{ end }}

    {{/* Published date */}}
    {{ $showPublished := true }}
    {{ if eq .Site.Params.showPublishedDate false }}{{ $showPublished = false }}{{ end }}
    {{ if eq .Site.Params.published false }}{{ $showPublished = false }}{{ end }}
    {{ if eq .Params.showPublishedDate false }}{{ $showPublished = false }}{{ end }}

    {{/* Reading time */}}
    {{ $showReadingTime := true }}
    {{ if eq .Site.Params.showReadingTime false }}{{ $showReadingTime = false }}{{ end }}
    {{ if eq .Site.Params.readingTime false }}{{ $showReadingTime = false }}{{ end }}
    {{ if eq .Params.showReadingTime false }}{{ $showReadingTime = false }}{{ end }}

    {{/* Tags */}}
    {{ $showTags := true }}
    {{ if eq .Site.Params.showTags false }}{{ $showTags = false }}{{ end }}
    {{ if eq .Params.showTags false }}{{ $showTags = false }}{{ end }}

    {{/* Authors */}}
    {{ $showAuthors := true }}
    {{ if eq .Site.Params.showAuthors false }}{{ $showAuthors = false }}{{ end }}
    {{ if eq .Params.showAuthors false }}{{ $showAuthors = false }}{{ end }}

    {{/* Categories */}}
    {{ $showCategories := true }}
    {{ if eq .Site.Params.showCategories false }}{{ $showCategories = false }}{{ end }}
    {{ if eq .Params.showCategories false }}{{ $showCategories = false }}{{ end }}

    {{ if $showMetadata }}
    <section class="postMetadata">
        {{ if .Description }}
            <p class="postDescription">{{ .Description }}</p>
        {{ end }}
        <dl>
            {{ if and $showTags (.GetTerms "tags") }}
                {{ partial "taxonomy/tags.html" (.GetTerms "tags") }}
            {{ end }}
            {{ if and $showAuthors (.GetTerms "authors") }}
                {{ partial "taxonomy/authors.html" (.GetTerms "authors") }}
            {{ end }}
            {{ if and $showCategories (.GetTerms "categories") }}
                {{ partial "taxonomy/categories.html" (.GetTerms "categories") }}
            {{ end }}
            {{ if $showPublished }}
                <dt>{{ i18n "published" }}</dt>
                 {{ $layout := .Site.Params.displayDateFormat | default "2006-01-02" }}
                 {{ $iso := .Date | time.Format "2006-01-02" }}
                 <dd><time datetime="{{ $iso }}">{{ .Date | time.Format $layout }}</time></dd>
            {{ end }}
            {{ if $showReadingTime }}
                <dt>{{ i18n "reading_time" }}</dt>
                <dd>{{ i18n "reading_time_desc" .ReadingTime }}</dd>
            {{ end }}
        </dl>
    </section>
    {{ end }}
    <div>
        {{ .Content }}
    </div>
</div>
{{ end }}
